<div class="container vertical">
    <form class="container vertical" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <h2>Login</h2>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" type="email" name="email" ngModel required>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" name="password" ngModel required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
  