<div class="container vertical">
    <h2>What operation would you like to perform?</h2>
    <button mat-raised-button style="margin-bottom: 20px;background-color:aquamarine" routerLink="/operation">
        <mat-icon>arrow_downward</mat-icon>
        Deposit / 
        <mat-icon>arrow_upward</mat-icon>
        Withdraw
    </button>
    <button mat-raised-button style="background-color:aquamarine" routerLink="/movements">
        <mat-icon>swap_horiz</mat-icon>
        Check Movements
    </button>
</div>
